* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c221c;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 100px
}
.logo {
  display: flex;
  align-items: flex-start;
  font-size: 29px;
  font-weight: bold;
  margin-left: 50px;

 }
 .logo a{
   color: #ffffff;
   text-decoration: none;
 }

 .mobile-logo{
  display: none;
 }

#navbar.active{
  right: -330px;
  
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active
{
  color: rgb(0, 255, 179);
}



#mobile{
  display: none;
 }



@media screen and (max-width:769px){

  .logo { display: none;
  }
  .mobile-logo{
    display: flex;
  align-items: flex-start;
  font-size: 29px;
  font-weight: bold;
  margin-left: 5%;

  }

  .mobile-logo a {color: #ffffff;
   text-decoration: none;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 73px;
    right: 0px;
    width: 300px;
    height: 100vh;
    background-color: #4e504e;
    box-shadow: 0 40px 60px;
    padding: 40px 0 0 10px;


    
   
  }

  
  #mobile{
    display: block;
    color: white;
   }
   #mobile i{
    font-size: 24px;
    
   }

   #navbar li{
    margin-bottom: 25px;
    cursor: pointer;
    
   }
   #navbar li a{
    font-size: 27px;
   }

}
