.hero{

    /* background-color:hsla(0,73%,44%,1);
background-image:
radial-gradient(at 40% 20%, hsla(0,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(256,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(359,88%,50%,1) 0px, transparent 50%),
radial-gradient(at 46% 50%, hsla(336,100%,57%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 32% 38%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%); */


background-image: radial-gradient(#ff8a00, #e52e71);
background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);

height: 100vh;
}

.herotxt{
    /* display: flex;
    color:rgba(255, 255, 255, 0.959);
    
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    
    
    font-size: 70px;
    line-height: 108px;
    vertical-align:baseline;
    letter-spacing:2.8889px;
    
    text-decoration: none solid rgba(255, 255, 255, 0.795);
    text-align: center;
    align-items: center;
    flex-direction: column;
    top : 220px; */
   
    display: flex;
    flex-direction: column;
    top : 250px;
    background-position: center center;
       
    position: relative;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
       

    text-transform: uppercase;
    font-weight: bold;
    font-size: 5.2em;
    letter-spacing: 0.1em;

    animation: fadeInUp 1s forwards;
    animation-delay: 300ms;
    opacity: 0;
   
  }
        


 .herotxtsub{
    display: flex;
    position: relative;
    flex-direction: column;
    top:250px ;
    
    color: #f9f1e9;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.9em;
    letter-spacing: 0.1em;
    
    

    animation: fadeIn 1s forwards;
    animation-delay: 1000ms;
    opacity: 0;
  
 }



    
  
  /* animations */
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
  
    100% {
      opacity: 1;
      transform: translateY(-20px);
    }
  }
  

  @keyframes fadeIn {
    0% {
      opacity: 0;
      
    }

    50% {
        opacity: .5;
        
      }
  
    100% {
      opacity: 1;
      
    }
  }
  

  

  

@media screen and (max-width:769px){
    .herotxt{
        display: flex;
    flex-direction: column;
    top : 150px;
    background-position: center center;
       
    position: relative;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
       

    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.7em;
    letter-spacing: 0.1em;

    animation: fadeInUp 1s forwards;
    animation-delay: 300ms;
    opacity: 0;
            }



            .herotxtsub{
                display: flex;
                position: relative;
                flex-direction: column;
                top:160px ;
                
                color: #f9f1e9;
                text-align: center;
                text-transform: uppercase;
                font-weight: 200;
                font-size: 1.5em;
                letter-spacing: 0.1em;
                
                
            
                animation: fadeIn 1s forwards;
                animation-delay: 1000ms;
                opacity: 0;
              
             }
            
            


}