.hero{

    background-color:hsla(0,73%,44%,1);
background-image:
radial-gradient(at 40% 20%, hsla(0,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(256,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(359,88%,50%,1) 0px, transparent 50%),
radial-gradient(at 46% 50%, hsla(336,100%,57%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 32% 38%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);

height: 100vh;
}

.herotxt{
    display: flex;
    color:RGB(255, 255, 255);
    
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    
    
    font-size: 80px;
    line-height: 108px;
    vertical-align:baseline;
    letter-spacing:2.8889px;
    
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    flex-direction: column;
    top : 220px;
        }


@media screen and (max-width:769px){
    .herotxt{
        display: flex;
        color:RGB(255, 255, 255);
        
        font-family: 'Alfa Slab One', cursive;
        position: fixed;
        
        width: 120px;
        font-size: 40px;
        line-height: 108px;
        vertical-align:baseline;
        letter-spacing:2.8889px;
        
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        align-items:flex-start;
        flex-direction: column;
        top : 180px;
            }
            


}