.hero{

    /* background-color:hsla(0,73%,44%,1);
background-image:
radial-gradient(at 40% 20%, hsla(0,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(256,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(359,88%,50%,1) 0px, transparent 50%),
radial-gradient(at 46% 50%, hsla(336,100%,57%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 32% 38%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%); */

background-color: rgb(122,31,185);
background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23f2eef8' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");


height: 100vh;
}

.herotxt{
    display: flex;
    color:RGB(255, 255, 255);
    
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    
    
    font-size: 80px;
    line-height: 108px;
    vertical-align:baseline;
    letter-spacing:2.8889px;
    
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    flex-direction: column;
    top : 220px;
        }


 .herotxtsub{
    display: flex;
    color:rgb(0, 255, 179);
    
    font-family: 'Alfa Slab One', cursive;
    position: fixed;
    
    
    font-size: 40px;
    line-height: 108px;
    vertical-align:baseline;
    letter-spacing:0.8889px;
    
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    flex-direction: column;
    top : 360px;
    left: 22%;
 }

@media screen and (max-width:769px){
    .herotxt{
        display: flex;
        color:RGB(255, 255, 255);
        
        font-family: 'Alfa Slab One', cursive;
        position: fixed;
        
        width: 120px;
        font-size: 40px;
        line-height: 108px;
        vertical-align:baseline;
        letter-spacing:2.8889px;
        
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        align-items:flex-start;
        flex-direction: column;
        top : 180px;
            }
            


}